@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("./responsive.scss");

.icon {
  background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
  background-size: 1404px 105px;
  display: inline-block;
}